{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "strict",
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
