// colours

$primary: #afe3cd;
$dark-shade: #3372a6;
$light-shade: #f9f7f6;
$dark-accent: #8b6366;
$light-accent: #938b85;

// body {
//   background-color: $dark-shade;
//   color: $dark-accent;
// }

// nav
.nav {
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
  }
}

.sponsors {
  > h1 {
    display: block;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }
  ul {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
    }
  }
}
